@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-width: 1300px;
    border-bottom: 5px solid #f2d3a6;
    background-color: #fce5c0;
    height: 45px;
    text-align: center;
    padding-top: 18px;
}

.header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding-right: 40px;
}

.content h1 {
    width: 100%;
    float: left;
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 55px;
    margin-bottom: 55px;
}

.content h1 img {
    padding-right: 100px;
    position: absolute;
    left: 430px;
    width: 260px;
    height: 190px;
    top: 57px;
}

.content .text_git {
    background-color: #f1f1f1;
    padding: 40px 40px 40px 40px;
    color: #444444;
    font-weight: 300;
}

.content .text_git p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 31px;
}

.content .text_git b {
    color: #1d1d1d;
    font-size: 24px;
    font-weight: 350;
    text-align: left;
    margin-bottom: 31px;
}

.footer {
    background-color: #fce5c0;
    width: 100%;
    float: left;
    height: 80px;
    text-align: center;
    color: #999999;
    font-size: 20px;
    font-weight: 100;
    line-height: 90px;
}

.footer img
{
    padding-left: 20px;
    width: 32px;
    height: 32px;
    position: relative;
    top: 7px;
}