@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-width: 1300px;
    border-bottom: 5px solid #f2d3a6;
    background-color: #fce5c0;
    margin: 0 auto;
    height: 45px;
    text-align: center;
    padding-top: 18px;
}

.header .selected {
    color: #000;
}

.center {
    width: 1300px;
    margin: 0 auto;
}

.header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding-right: 40px;
}

.content {
    min-width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 140px);
}

.content h1 {
    width: 100%;
    float: left;
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 55px;
    margin-bottom: 55px;
}

.content img {
    width:20%;
    height:auto;
    margin-left: 5%;
}

.content .box_text {
    width: 971px;
    background-color: #f1f1f1;
    float: right ;
    padding: 39px 48px 51px 76px;
    margin-bottom: 70px;
}

.content .box_text p {
    color: #202020;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;
}

.content .box_text a  {
    color: #40678a;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding-right:30px;
}

.content .box {
    background-color: #ffffff;
    width: 1280px;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 100px;
    min-height: 500px;
    margin: 50px auto 0 auto;  
}

.footer {
    background-color: #fce5c0;
    width: 100%;
    float: left;
    height: 80px;
    text-align: center;
    color: #999999;
    font-size: 20px;
    font-weight: 100;
    line-height: 90px;
}

.footer img
{
    padding-left: 20px;
    width: 32px;
    height: 32px;
    position: relative;
    top: 7px;
}